{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "releaseRules": [
        {"type": "Fix", "release": "preminor"},
        {"type": "Update", "release": "preminor"},
        {"type": "Breaking", "release": "premajor"},
        {"type": "Docs", "release": "prepatch"},
        {"type": "Build", "release": "prepatch"},
        {"type": "New", "release": "premajor"},
        {"type": "Upgrade", "release": "preminor"},
        {"type": "/.*/", "release": "prerelease"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
